<%- include('partials/header')%>
</header>
    <!-- Contains the navbar -->
    <%- include('partials/navbar')%>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<!-- <form action="submit">
    <h1>Hello Mom!</h1>
    <input type="text"><br>
    <input type="submit" value="submit">
</form> -->
<div id="recentBids" class="container" style="height: 30rem; width: 25rem; display: block;"><!-- -->
    <div class="header bg-dark-purple" >
        <h4 style="color: white; margin: 0;">Recent Bids</h4>
    </div>    
    <div  id="tablebody" class="tablebody overflow-auto" style="height: inherit; width: inherit;">
        <table id="bidData" class="table table-dark table-sm table-hover">
            <thead class="align-middle" style="position: sticky; top: 0;">
                <tr class="text-center">
                    <th>User</th>
                    <th>Bid Amount</th>
                    <th>Auction Name</th>
                    <th class="deleteRow"></th>
                </tr>
            </thead>
            <tbody id="tBody" class="text-center align-middle">
            </tbody>
        </table>
    </div>    
</div>
<div class="container">
    <a href="/logout"><button class="btn btn-secondary">Logout!</button></a>
</div>
    

    
<script>
    const table = document.querySelector("#tBody");
    console.log(table);
    let webSocket = new WebSocket('ws://localhost:3031');
    webSocket.onopen = function(event){
        console.log("Websocket is now open!");
        let obj = {
            id : document.getElementById('twitchId').innerHTML,
            channel : document.getElementById('username').innerHTML,
            appName : "MrsOEF5 Dashboard"
        }
        webSocket.send(JSON.stringify(obj));
    }
    webSocket.onmessage = function(event){
        event2 = JSON.parse(event.data);
        // console.log(Array.isArray(event2));
        console.log(event2)

        if(Array.isArray(event2)){
            event2.reduceRight((_,element) => {
                console.log(element);
                let row = table.insertRow(0);
                let user = row.insertCell(0);
                let bidAmount = row.insertCell(1);
                let auctionName = row.insertCell(2);
                let deleteBid = row.insertCell(3);
                user.innerHTML = element.name
                bidAmount.innerHTML = element.amount;
                auctionName.innerHTML = element.auctionName;
                deleteBid.innerHTML ="<button id='bigX' class='btn btn-dark'>X</button>"
            });
        }else{
            let row = table.insertRow(0);
            let user = row.insertCell(0);
            let bidAmount = row.insertCell(1);
            let auctionName = row.insertCell(2);
            let bidData = event2.auctionBidLeader;
            let deleteBid = row.insertCell(3);
            console.log(bidData);
            user.innerHTML = bidData.name;
            bidAmount.innerHTML = bidData.amount;
            auctionName.innerHTML = event2.auctionInfo.name;
            deleteBid.innerHTML = "<button id='bigX' class='btn btn-dark'>X</button>"
        }

    }
</script>
<%- include('partials/footer')%>