<%- include('partials/header')%>
</header>
    <!-- Contains the navbar -->
    <%- include('partials/navbar')%>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<!-- <form action="submit">
    <h1>Hello Mom!</h1>
    <input type="text"><br>
    <input type="submit" value="submit">
</form> -->
<div class="container overflow-auto" style="height: 30rem;">
    <table id="bidData" class="table table-dark">
        <thead>
            <tr>
                <th>User</th>
                <th>Bid Amount</th>
                <th>Auction Name</th>
                <th>Bid ID</th>
                <th class="deleteRow"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="container">
    <a href="/logout"><button class="btn btn-secondary">Logout!</button></a>
</div>
    

    
<script>
    const table = document.querySelector("#bidData");
    console.log(table);
    let webSocket = new WebSocket('ws://localhost:3031');
    webSocket.onopen = function(event){
        console.log("Websocket is now open!");
        let obj = {
            id : document.getElementById('twitchId').innerHTML,
            appName : "MrsOEF5 Dashboard"
        }
        webSocket.send(JSON.stringify(obj));
    }
    webSocket.onmessage = function(event){
        event2 = JSON.parse(event.data);
        // console.log(Array.isArray(event2));
        console.log(event2)

        if(Array.isArray(event2)){
            event2.reduceRight((_,element) => {
                console.log(element);
                let row = table.insertRow(1);
                let user = row.insertCell(0);
                let bidAmount = row.insertCell(1);
                let auctionName = row.insertCell(2);
                let bidId = row.insertCell(3);
                let deleteBid = row.insertCell(4);
                user.innerHTML = element.name
                bidAmount.innerHTML = element.amount;
                auctionName.innerHTML = element.auctionName;
                bidId.innerHTML = element.idbids;
                deleteBid.innerHTML ="<button id='bigX' class='btn btn-dark'>X</button>"
            });
        }else{
            let row = table.insertRow(1);
            let user = row.insertCell(0);
            let bidAmount = row.insertCell(1);
            let auctionName = row.insertCell(2);
            let bidId = row.insertCell(3);
            let bidData = event2.auctionBidLeader;
            let deleteBid = row.insertCell(4);
            console.log(bidData);
            user.innerHTML = bidData.name;
            bidAmount.innerHTML = bidData.amount;
            auctionName.innerHTML = event2.auctionInfo.name;
            bidId.innerHTML = bidData.bidID;
            deleteBid.innerHTML = "<button id='bigX' class='btn btn-dark'>X</button>"
        }

    }

</script>
<%- include('partials/footer')%>