
<a class="btn btn-lg" id="logIn">Twitch Login</a>

<script>
    function nonce(length) {
        let text = "";
        let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for(let i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }
    let login = document.getElementById('logIn');
    login.href =`https://id.twitch.tv/oauth2/authorize?client_id=otgtyagad7fvv84uk33ourc88xwbht&redirect_uri=http://localhost:3030/loginauth&response_type=code&scope=moderation:read user:read:email openid&nonce=${nonce(64)}&state=${nonce(25)}&claim={"id_token":{"email":null,"email_verified":null},"userinfo":{"picture":null,"preferred_username":null,"updated_at":null}}`;
</script>