<%- include('partials/header')%>

    <!-- Contains the navbar -->
<%- include('partials/navbar')%>
<body>
    <a class="btn btn-lg btn-primary" id="logIn"></a>
</body>
<script>
    function nonce(length) {
        let text = "";
        let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for(let i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }
    let login = document.getElementById('logIn');
    if(document.getElementById('twitchId')){
        login.href = `/${document.getElementById('username').innerHTML.toLowerCase()}/dashboard`;
        login.innerHTML = 'Dashboard';
    }else{
        login.href = `/twitchlogin`;
        login.href = 'Twitch Login';
    }
    
</script>
<%- include('partials/footer')%>